# March Madness 2016 Kaggle data

In [1]:
import os,sys
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
data_dir = 'C:/Users/kesj/data/kaggle/march-machine-learning-mania-2016-v2/'

In [3]:
os.chdir(data_dir)
from glob import glob

In [4]:
%ls

 Volume in drive C is OS
 Volume Serial Number is E02E-C1BA

 Directory of C:\Users\kesj\data\kaggle\march-machine-learning-mania-2016-v2

03/15/2016  08:54 AM    <DIR>          .
03/15/2016  08:54 AM    <DIR>          ..
03/14/2016  04:30 PM             6,148 .DS_Store
03/14/2016  01:28 PM         9,759,744 database.sqlite
03/14/2016  01:28 PM         4,115,852 RegularSeasonCompactResults.csv
03/14/2016  01:28 PM         7,032,325 RegularSeasonDetailedResults.csv
03/14/2016  01:28 PM            43,290 SampleSubmission.csv
03/14/2016  01:28 PM             1,413 Seasons.csv
03/14/2016  01:28 PM             5,575 Teams.csv
03/14/2016  01:28 PM            57,650 TourneyCompactResults.csv
03/14/2016  01:28 PM            84,126 TourneyDetailedResults.csv
03/14/2016  01:28 PM            29,233 TourneySeeds.csv
03/14/2016  01:28 PM            38,950 TourneySlots.csv
              11 File(s)     21,174,306 bytes
               2 Dir(s)  51,630,305,280 bytes free

## Start to parse the files

In [5]:
seasons = pd.read_csv('Seasons.csv')

In [6]:
seasons

    Season     Dayzero      Regionw    Regionx         Regiony       Regionz
0     1985  10/29/1984         East       West         Midwest     Southeast
1     1986  10/28/1985         East    Midwest       Southeast          West
2     1987  10/27/1986         East  Southeast         Midwest          West
3     1988   11/2/1987         East    Midwest       Southeast          West
4     1989  10/31/1988         East       West         Midwest     Southeast
5     1990  10/30/1989         East    Midwest       Southeast          West
6     1991  10/29/1990         East  Southeast         Midwest          West
7     1992   11/4/1991         East       West         Midwest     Southeast
8     1993   11/2/1992         East    Midwest       Southeast          West
9     1994   11/1/1993         East  Southeast         Midwest          West
10    1995  10/31/1994         East       West         Midwest     Southeast
11    1996  10/30/1995         East    Midwest       Southeast          West
12    1997  10/28/1996         East  Southeast         Midwest          West
13    1998  10/27/1997         East       West         Midwest         South
14    1999  10/26/1998         East    Midwest           South          West
15    2000   11/1/1999         East      South         Midwest          West
16    2001  10/30/2000         East       West         Midwest         South
17    2002  10/29/2001         East    Midwest           South          West
18    2003   11/4/2002         East      South         Midwest          West
19    2004   11/3/2003      Atlanta    Phoenix  EastRutherford       StLouis
20    2005   11/1/2004  Albuquerque    Chicago          Austin      Syracuse
21    2006  10/31/2005      Atlanta    Oakland     Minneapolis  WashingtonDC
22    2007  10/30/2006         East      South         Midwest          West
23    2008   11/5/2007         East    Midwest           South          West
24    2009   11/3/2008         East      South         Midwest          West
25    2010   11/2/2009         East      South         Midwest          West
26    2011   11/1/2010         East       West       Southeast     Southwest
27    2012  10/31/2011         East    Midwest           South          West
28    2013   11/5/2012         East      South         Midwest          West
29    2014   11/4/2013         East      South         Midwest          West
30    2015   11/3/2014         East      South         Midwest          West
31    2016   11/2/2015         East    Midwest           South          West

### Regular Season Compact results


This file identifies the game-by-game results for 31 seasons of historical data, from 1985 to 2015. Each year, it includes all games played from daynum 0 through 132 (which by definition is "Selection Sunday," the day that tournament pairings are announced). Each row in the file represents a single game played.

* "season" - this is the year of the associated entry in seasons.csv (the year in which the final tournament occurs)
* "daynum" - this integer always ranges from 0 to 132, and tells you what day the game was played on. It represents an offset from the "dayzero" date in the "seasons.csv" file. For example, the first game in the file was daynum=20. Combined with the fact from the "season.csv" file that day zero was 10/29/1984, that means the first game was played 20 days later, or 11/18/1984. There are no teams that ever played more than one game on a given date, so you can use this fact if you need a unique key. In order to accomplish this uniqueness, we had to adjust one game's date. In March 2008, the SEC postseason tournament had to reschedule one game (Georgia-Kentucky) to a subsequent day, so Georgia had to actually play two games on the same day. In order to enforce this uniqueness, we moved the game date for the Georgia-Kentucky game back to its original date.
* "wteam" - this identifies the id number of the team that won the game, as listed in the "teams.csv" file. No matter whether the game was won by the home team or visiting team, "wteam" always identifies the winning team.
* "wscore" - this identifies the number of points scored by the winning team.
* "lteam" - this identifies the id number of the team that lost the game.
* "lscore" - this identifies the number of points scored by the losing team.
* "numot" - this indicates the number of overtime periods in the game, an integer 0 or higher.
* "wloc" - this identifies the "location" of the winning team. If the winning team was the home team, this value will be "H". If the winning team was the visiting team, this value will be "A". If it was played on a neutral court, then this value will be "N". Sometimes it is unclear whether the site should be considered neutral, since it is near one team's home court, or even on their court during a tournament, but for this determination we have simply used the Kenneth Massey data in its current state, where the "@" sign is either listed with the winning team, the losing team, or neither team.

In [7]:
reg_season_comp= pd.read_csv('RegularSeasonCompactResults.csv')
reg_season_comp.shape

(145289, 8)

In [8]:
reg_season_comp.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985      20   1228      81   1328      64    N      0
1    1985      25   1106      77   1354      70    H      0
2    1985      25   1112      63   1223      56    H      0
3    1985      25   1165      70   1432      54    H      0
4    1985      25   1192      86   1447      74    H      0

### RegularSeasonDetailedResults

This file is a more detailed set of game results, covering seasons 2003-2015. This includes team-level total statistics for each game (total field goals attempted, offensive rebounds, etc.) The column names should be self-explanatory to basketball fans (as above, "w" or "l" refers to the winning or losing team):

* wfgm - field goals made
* wfga - field goals attempted
* wfgm3 - three pointers made
* wfga3 - three pointers attempted
* wftm - free throws made
* wfta - free throws attempted
* wor - offensive rebounds
* wdr - defensive rebounds
* wast - assists
* wto - turnovers
* wstl - steals
* wblk - blocks
* wpf - personal fouls

### TourneyCompactResults

This file identifies the game-by-game NCAA tournament results for all seasons of historical data. The data is formatted exactly like the regular_season_compact_results.csv data. Note that these games also include the play-in games (which always occurred on day 134/135) for those years that had play-in games.

### TourneyDetailedResults

This file contains the more detailed results for tournament games from 2003 onward.

In [9]:
tourney_comp = pd.read_csv('TourneyCompactResults.csv')

In [10]:
tourney_comp.head()

   Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
0    1985     136   1116      63   1234      54    N      0
1    1985     136   1120      59   1345      58    N      0
2    1985     136   1207      68   1250      43    N      0
3    1985     136   1229      58   1425      55    N      0
4    1985     136   1242      49   1325      38    N      0

### TourneySeeds

This file identifies the seeds for all teams in each NCAA tournament, for all seasons of historical data. Thus, there are between 64-68 rows for each year, depending on the bracket structure.

* "season" - the year
* "seed" - this is a 3/4-character identifier of the seed, where the first character is either W, X, Y, or Z (identifying the region the team was in) and the next two digits (either 01, 02, ..., 15, or 16) tells you the seed within the region. For play-in teams, there is a fourth character (a or b) to further distinguish the seeds, since teams that face each other in the play-in games will have the same first three characters. For example, the first record in the file is seed W01, which means we are looking at the #1 seed in the W region (which we can see from the "seasons.csv" file was the East region). This seed is also referenced in the "tourney_slots.csv" file that tells us which bracket slots face which other bracket slots in which rounds.
* "team" - this identifies the id number of the team, as specified in the teams.csv file

### TourneySlots

This file identifies the mechanism by which teams are paired against each other, depending upon their seeds. Because of the existence of play-in games for particular seed numbers, the pairings have small differences from year to year. If there were N teams in the tournament during a particular year, there were N-1 teams eliminated (leaving one champion) and therefore N-1 games played, as well as N-1 slots in the tournament bracket, and thus there will be N-1 records in this file for that season.

* "season" - the year
* "slot" - this uniquely identifies one of the tournament games. For play-in games, it is a three-character string identifying the seed fulfilled by the winning team, such as W16 or Z13. For regular tournament games, it is a four-character string, where the first two characters tell you which round the game is (R1, R2, R3, R4, R5, or R6) and the second two characters tell you the expected seed of the favored team. Thus the first row is R1W1, identifying the Round 1 game played in the W bracket, where the favored team is the 1 seed. As a further example, the R2W1 slot indicates the Round 2 game that would have the 1 seed from the W bracket, assuming that all favored teams have won up to that point. The slot names are different for the final two rounds, where R5WX identifies the national semifinal game between the winners of regions W and X, and R5YZ identifies the national semifinal game between the winners of regions Y and Z, and R6CH identifies the championship game. The "slot" value is used in other columns in order to represent the advancement and pairings of winners of previous games.
* "strongseed" - this indicates the expected stronger-seeded team that plays in this game. For Round 1 games, a team seed is identified in this column (as listed in the "seed" column in the tourney_seeds.csv file), whereas for subsequent games, a slot is identified in this column. In the first record of this file (slot R1W1), we see that seed W01 is the "strongseed", which during the 1985 tournament would have been Georgetown. Whereas for games from Round 2 or later, rather than a team seed, we will see a "slot" referenced in this column. So in the 33rd record of this file (slot R2W1), it tells us that the winners of slots R1W1 and R1W8 will face each other in Round 2. Of course, in the last few games of the tournament - the national semifinals and finals - it's not really meaningful to talk about a "strong seed" or "weak seed", but those games are represented in the same format for the sake of uniformity.
* "weakseed" - this indicates the expected weaker-seeded team that plays in this game, assuming all favored teams have won so far. For Round 1 games, a team seed is identified in this column (as listed in the "seed" column in the tourney_seeds.csv file), whereas for subsequent games, a slot is identified in this column.

## Initial objective
* identify if there is any relationship between the regular season records and tourney success

In [11]:
whos

Variable          Type         Data/Info
----------------------------------------
data_dir          str          C:/Users/kesj/data/kaggle<...>e-learning-mania-2016-v2/
glob              function     <function glob at 0x0000000002A09278>
np                module       <module 'numpy' from 'C:\<...>ages\numpy\__init__.pyc'>
os                module       <module 'os' from 'C:\Anaconda\Lib\os.pyc'>
pd                module       <module 'pandas' from 'C:<...>ges\pandas\__init__.pyc'>
plt               module       <module 'matplotlib.pyplo<...>s\matplotlib\pyplot.pyc'>
reg_season_comp   DataFrame            Season  Daynum  W<...>[145289 rows x 8 columns]
seasons           DataFrame        Season     Dayzero   <...>      South          West
sns               module       <module 'seaborn' from 'C<...>es\seaborn\__init__.pyc'>
sys               module       <module 'sys' (built-in)>
tourney_comp      DataFrame          Season  Daynum  Wte<...>\n[1983 rows x 8 columns]

In [12]:
teams = pd.read_csv('Teams.csv')
teams.shape

(364, 2)

In [22]:
#teams[teams['Team_Name'][:4] == 'Mich' ].head()
teams

     Team_Id        Team_Name
0       1101      Abilene Chr
1       1102        Air Force
2       1103            Akron
3       1104          Alabama
4       1105      Alabama A&M
5       1106       Alabama St
6       1107        Albany NY
7       1108        Alcorn St
8       1109     Alliant Intl
9       1110    American Univ
10      1111   Appalachian St
11      1112          Arizona
12      1113       Arizona St
13      1114  Ark Little Rock
14      1115   Ark Pine Bluff
15      1116         Arkansas
16      1117      Arkansas St
17      1118     Armstrong St
18      1119             Army
19      1120           Auburn
20      1121          Augusta
21      1122      Austin Peay
22      1123          Ball St
23      1124           Baylor
24      1125          Belmont
25      1126  Bethune-Cookman
26      1127       Binghamton
27      1128    Birmingham So
28      1129         Boise St
29      1130   Boston College
..       ...              ...
334     1435       Vanderbilt
335     1436          Vermont
336     1437        Villanova
337     1438         Virginia
338     1439    Virginia Tech
339     1440              VMI
340     1441       W Carolina
341     1442       W Illinois
342     1443              WKU
343     1444       W Michigan
344     1445       W Salem St
345     1446      W Texas A&M
346     1447           Wagner
347     1448      Wake Forest
348     1449       Washington
349     1450    Washington St
350     1451         Weber St
351     1452    West Virginia
352     1453     WI Green Bay
353     1454     WI Milwaukee
354     1455       Wichita St
355     1456   William & Mary
356     1457         Winthrop
357     1458        Wisconsin
358     1459          Wofford
359     1460        Wright St
360     1461          Wyoming
361     1462           Xavier
362     1463             Yale
363     1464    Youngstown St

[364 rows x 2 columns]

## Set up some functions to calculate team attributes for a given season

In [25]:
reg_season_comp[reg_season_comp['Season']==2016].head()

        Season  Daynum  Wteam  Wscore  Lteam  Lscore Wloc  Numot
139920    2016      11   1104      77   1244      64    H      0
139921    2016      11   1105      68   1408      67    A      1
139922    2016      11   1112      79   1334      61    H      0
139923    2016      11   1115      58   1370      56    A      0
139924    2016      11   1116      86   1380      68    H      0

In [33]:
my_team = 1324
my_season= 2016
print teams[teams.Team_Id==my_team]
#nwins= reg_season_comp[reg_season_comp['Season']==my_season]['Wteam'==my_team].sum()
#nloss = reg_season_comp[reg_season_comp['Season']==my_season]['Lteam'==my_team].sum()
#print(nwins, nloss)
nwins= len(reg_season_comp[(reg_season_comp['Season']==my_season) & (reg_season_comp['Wteam']==my_team)])#.sum()
nloss = len(reg_season_comp[(reg_season_comp['Season']==my_season) & (reg_season_comp['Lteam']==my_team)])
print(nwins,nloss)

     Team_Id Team_Name
223     1324   Oakland
(21, 11)

* RPI = $0.25*WP + 0.5*OWP+ 0.25*OOWP$
* OWP = opponent's winning percentage (omit games against you)
* OOWP (Opponents’ Opponents’ Winning Percentage) is the average OWP of all your opponents. OWP is exactly the number computed in the previous step.

In [ ]:
def calc_win_pct()